# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: atambo <marvin@42.fr>                      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/11/20 17:26:46 by atambo            #+#    #+#              #
#    Updated: 2024/12/04 23:17:13 by atambo           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

#folders
*/testing

#compiled source files
*.a
*.o
*.out
*.philosophers

#vscode
.vscode/
