# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: atambo <marvin@42.fr>                      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/11/20 17:26:46 by atambo            #+#    #+#              #
#    Updated: 2024/12/04 23:19:59 by atambo           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

#default ignore all
*

#whitelist
!src/
!inc/
!src/*.C
!inc/*.h
!Makefile
